.nav-list li {
  float: left;
  width: 25%;
  padding: 12px 0 10px;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.nav-list li:nth-child(4n+1) {
  border-left: none;
}
.nav-list li a {
  display: block;
  width: 36px;
  color: #ccc;
  height: 36px;
  font-size: 1.0rem;
  margin: 0 auto 9px;
  border-radius: 4px;
  background-size: 50px 1000px;
}
.nav-list li p {
  font-size: 1.4rem;
}
.icon-1 a {
  background: #ff565b url("../img/icon.png") -7px 5px no-repeat;
}
.icon-2 a {
  background: #fd8e35 url("../img/icon.png") -7px -49px no-repeat;
}
.icon-3 a {
  background: #f5c132 url("../img/icon.png") -7px -103px no-repeat;
}
.icon-4 a {
  background: #6cc143 url("../img/icon.png") -7px -156px no-repeat;
}
.icon-5 a {
  background: #7b7ad7 url("../img/icon.png") -7px -212px no-repeat;
}
.icon-6 a {
  background: #fe8a66 url("../img/icon.png") -7px -267px no-repeat;
}
.icon-7 a {
  background: #42bde8 url("../img/icon.png") -7px -321px no-repeat;
}
.icon-8 a {
  background: #01d1d1 url("../img/icon.png") -7px -374px no-repeat;
}
.nav_name1,
.nav_name2 {
  padding: 5%;
  border-bottom: 1px solid #ccc;
  background: #f8f8f8;
}
.nav_name1 p,
.nav_name2 p {
  font-size: 1.6rem;
  font-weight: bold;
}
.nav_name2 {
  border-top: 1px solid #ccc;
}
.pic_up {
  padding: 3.75% 3.125% 0%;
}
.pic_down {
  padding: 3.75% 3.125% 0%;
}
.pic_down .img_left {
  width: 48%;
  margin-right: 4%;
  display: inline-block;
}
.pic_down .img_right {
  width: 48%;
  display: inline-block;
}
.style_up {
  margin: 3.75% 3.125% 0 3.125%;
  padding-bottom: 3.75%;
  border-bottom: 1px dashed #666;
}
.style_up .style_main {
  float: left;
  margin-left: 2%;
  width: 18%;
  line-height: 36px;
  text-align: center;
  color: #ccc;
  font-size: 1rem;
  background: #ededed;
}
.style_up .style_side {
  float: left;
  width: 14%;
  margin-left: -2px;
  padding-left: 6%;
  line-height: 36px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  background: url("../img/b1.png") no-repeat;
}
.style_down {
  margin: 3.75% 3.125%;
}
.style_down .style_main {
  float: left;
  margin-left: 2%;
  width: 18%;
  line-height: 36px;
  text-align: center;
  color: #ccc;
  font-size: 1rem;
  background: #ededed;
}
.style_down .style_side {
  float: left;
  width: 14%;
  margin-left: -2px;
  padding-left: 6%;
  line-height: 36px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  background: url("../img/b2.png") no-repeat;
}
.or_list1 {
  padding: 0% 3.125%;
  margin-bottom: 5%;
}
.or_list1 .or_list1_left {
  float: left;
  width: 50%;
  height: 48px;
  line-height: 48px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: #595959;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
}
.or_list1 .or_list1_left:hover {
  color: #fb7164;
}
.or_list1 .or_list1_left:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/t11.jpg") 0px 0px no-repeat;
  background-size: 20px 20px;
  vertical-align: -7%;
}
.or_list1 .or_list1_right {
  float: left;
  width: 50%;
  height: 48px;
  line-height: 48px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: #595959;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-left: 1px solid transparent;
  border-radius: 0px 4px 4px 0px;
}
.or_list1 .or_list1_right:hover {
  color: #fb7164;
}
.or_list1 .or_list1_right:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/t12.jpg") 0px 0px no-repeat;
  background-size: 20px 20px;
  vertical-align: -7%;
}
.money {
  background: #f8f8f8;
  width: 93.75%;
  padding: 7% 3.125%;
}
.money .money_main {
  padding: 2% 3.125% 5%;
  background: #fff;
  border-top: 1px solid orange;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 4px;
}
.money .money_main .money1 {
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  background: url("../img/money_t0.png") 28px 8px no-repeat;
  background-size: 32px 32px;
}
.money .money_main .money2 .text_1 {
  float: left;
  padding-left: 4%;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  width: 49%;
  height: 36px;
  font-size: 1.4rem;
  line-height: 36px;
  margin-right: 2%;
  box-sizing: border-box;
  background: url("../img/money_t1.png") right 3px no-repeat;
  background-size: 20px 26px;
  color: #ccc;
}
.money .money_main .money2 .text_2 {
  float: left;
  position: relative;
  width: 49%;
  box-sizing: border-box;
}
.money .money_main .money2 .text_2 #fy1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 4px;
  padding-left: 4%;
  font-size: 1.4rem;
  line-height: 32px;
  background: url("../img/money_t2.png") right 4px no-repeat;
  background-size: 20px 26px;
}
.money .money_main .money3 {
  margin-top: 3%;
  width: 100%;
  height: 36px;
  position: relative;
  box-sizing: border-box;
}
.money .money_main .money3 #fy2 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 4px;
  padding-left: 4%;
  font-size: 1.4rem;
  line-height: 32px;
  background: url("../img/money_t2.png") right 4px no-repeat;
  background-size: 20px 26px;
}
.money .money_main .money4 {
  margin-top: 3%;
  width: 100%;
  height: 36px;
  position: relative;
  box-sizing: border-box;
}
.money .money_main .money4 #fy3 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 4px;
  padding-left: 4%;
  font-size: 1.4rem;
  line-height: 32px;
  background: url("../img/money_t2.png") right 4px no-repeat;
  background-size: 20px 26px;
}
.money .money_main .money5 {
  margin-top: 3%;
  border-radius: 4px;
  width: 100%;
  height: 36px;
  text-align: center;
  line-height: 36px;
  box-sizing: border-box;
  background: #fa4e3e;
}
.money .money_main .money5 a {
  font-size: 1.6rem;
  color: #fff;
}
.word_to {
  width: 93.75%;
  padding: 0% 3.125%;
}
.word_to .wt {
  width: 48%;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.4rem;
  text-align: center;
}
.word_to #wt1 {
  float: left;
  margin-top: 3%;
  color: #494949;
}
.word_to #wt1:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/icon.png") -12px -790px no-repeat;
  background-size: 50px 1000px;
  vertical-align: middle;
}
.word_to #wt2 {
  float: left;
  margin-top: 3%;
  margin-left: 4%;
  color: #494949;
}
.word_to #wt2:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/icon.png") -12px -853px no-repeat;
  background-size: 50px 1000px;
  vertical-align: middle;
}
.word_to #wt3 {
  float: left;
  margin-top: 3%;
  margin-bottom: 3%;
  color: #494949;
}
.word_to #wt3:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/icon.png") -12px -915px no-repeat;
  background-size: 50px 1000px;
  vertical-align: middle;
}
.word_to #wt4 {
  float: left;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 4%;
  color: #494949;
}
.word_to #wt4:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/icon.png") -12px -978px no-repeat;
  background-size: 50px 1000px;
  vertical-align: middle;
}
.img_text {
  padding: 3% 3.125% 0%;
  border-top: 1px solid #ccc;
}
.img_text .img_text1 img {
  float: left;
  width: 30%;
  margin-bottom: 3%;
}
.img_text .img_text1 .text1 {
  width: 68%;
  margin-left: 2%;
  float: left;
}
.img_text .img_text1 .text1 .text1_p1 {
  font-size: 1.4rem;
}
.img_text .img_text1 .text1 .text2_p2 {
  margin-top: 1.5%;
  font-size: 0.8rem;
  color: #ccc;
}
.zhuangxiu {
  padding-left: 3.125%;
  padding-right: 3.125%;
}
.zhuangxiu .zhuangxiu1 {
  padding-top: 5%;
  border-top: 1px solid #ccc;
}
.zhuangxiu .zhuangxiu1 a {
  float: left;
}
.zhuangxiu .zhuangxiu1 #tu_r1 {
  background: url("../img/icon-s.png") center 0px no-repeat;
  background-size: 64px 200px;
  width: 24%;
  height: 64px;
  text-align: center;
}
.zhuangxiu .zhuangxiu1 #tc1 {
  background: url("../img/tc1.png") center 0px no-repeat;
  background-size: 15px 64px;
  text-align: center;
  width: 14%;
  height: 64px;
}
.zhuangxiu .zhuangxiu1 #tu_r2 {
  background: url("../img/icon-s.png") center -68px no-repeat;
  background-size: 64px 200px;
  width: 24%;
  height: 64px;
  text-align: center;
}
.zhuangxiu .zhuangxiu1 #tc2 {
  background: url("../img/tc2.png") center 0px no-repeat;
  background-size: 15px 64px;
  text-align: center;
  width: 14%;
  height: 64px;
}
.zhuangxiu .zhuangxiu1 #tu_r3 {
  background: url("../img/icon-s.png") center -135px no-repeat;
  background-size: 64px 200px;
  width: 24%;
  height: 64px;
  text-align: center;
}
.zhuangxiu .zhuangxiu2 {
  padding-top: 3%;
  padding-bottom: 5%;
  border-bottom: 1px solid #ccc;
}
.zhuangxiu .zhuangxiu2 #zx_p1 {
  width: 24%;
  font-size: 1.6rem;
  float: left;
  text-align: center;
}
.zhuangxiu .zhuangxiu2 #zx_p2 {
  width: 52%;
  font-size: 1.6rem;
  float: left;
  text-align: center;
}
.zhuangxiu .zhuangxiu2 #zx_p3 {
  width: 24%;
  font-size: 1.6rem;
  float: left;
  text-align: center;
}
.t7 {
  margin-top: 3%;
}
.search {
  padding-left: 3.125%;
  padding-right: 3.125%;
  padding-top: 3%;
}
.search .search1 input {
  float: left;
  width: 70%;
  height: 48px;
  line-height: 40px;
  padding-left: 5%;
  font-size: 1.4rem;
  color: #ccc;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px 0px 0px 8px;
  vertical-align: top;
}
.search .search1 a {
  width: 30%;
  height: 48px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-size: 1.4rem;
  color: #fff;
  line-height: 40px;
  border: 1px solid #fa4e3e;
  border-radius: 0px 8px 8px 0px;
  background: #fa4e3e;
  vertical-align: top;
}
.search .search2 {
  margin-top: 3%;
}
.search .search2 ul li {
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: 1px solid #ccc;
}
.search .search2 ul li .p1 {
  font-size: 1.4rem;
}
.search .search2 ul li .p2 {
  margin-top: 4%;
}
.search .search2 ul li .p2 .li_1 {
  float: left;
  padding-left: 8px;
  font-size: 1.2rem;
  color: #fb786c;
}
.search .search2 ul li .p2 .li_2 {
  float: right;
  font-size: 1.2rem;
  color: #ccc;
}
.search .search2 ul li .p2 .li_2:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 24px;
  background: url("../img/li.png") 0 -1px no-repeat;
  vertical-align: top;
}
.search .search2 ul #end_li {
  border-bottom: none;
}
.xinwen {
  padding: 3.125% 3.125% 0%;
}
.xinwen ul li {
  margin-bottom: 3.125%;
}
.xinwen ul li .xinwen_1 {
  float: left;
  width: 80%;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.xinwen ul li .xinwen_date {
  float: right;
  font-size: 1.5rem;
  color: #ccc;
}
.nav-list2 li {
  float: left;
  width: 33%;
  padding: 12px 0 10px;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.nav-list2 li:nth-child(3n) {
  border-right: none;
}
.nav-list2 li a {
  display: block;
  width: 60px;
  color: #ccc;
  height: 60px;
  font-size: 1.0rem;
  margin: 0 auto 9px;
  border-radius: 30px;
}
.nav-list2 li p {
  font-size: 1.4rem;
}
.icon2-1 a {
  background: #fd9500 url("../img/icon.png") 1px -872px no-repeat;
  background-size: 60px 2012px;
}
.icon2-2 a {
  background: #4bc1d2 url("../img/icon.png") 1px -982px no-repeat;
  background-size: 60px 2012px;
}
.icon2-3 a {
  background: #6aca2a url("../img/icon.png") 1px -1090px no-repeat;
  background-size: 60px 2012px;
}
.icon2-4 a {
  background: #00abfb url("../img/icon.png") 1px -1201px no-repeat;
  background-size: 60px 2012px;
}
.icon2-5 a {
  background: #cd6fe3 url("../img/icon.png") 1px -1310px no-repeat;
  background-size: 60px 2012px;
}
.icon2-6 a {
  background: #f35050 url("../img/icon.png") 1px -1419px no-repeat;
  background-size: 60px 2012px;
}
.pic_t8 {
  padding-top: 4%;
  background: #f8f8f8;
}
.end {
  padding: 5% 3.125% 2%;
  background: #f8f8f8;
}
.end .end_list1 a {
  float: left;
  width: 30%;
  height: 36px;
  background: #fff;
  text-align: center;
  font-size: 1.4rem;
  line-height: 36px;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.end .end_list1 span {
  float: left;
  width: 5%;
  line-height: 36px;
  height: 36px;
  text-align: center;
  color: #666;
}
.end .end_list2 {
  padding-left: 15%;
  padding-right: 15%;
}
.end .end_list2 .end_list3 {
  width: 100%;
}
.end .end_list2 .end_list3 .end_list4 a {
  margin-top: 5%;
  display: block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  color: #ccc;
  text-align: center;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.4rem;
}
.end .end_list2 .end_list3 .end_list4 a span {
  color: #fb6c5e;
  font-size: 1.2rem;
}
.end .end_list2 .end_list3 .end_list4 a:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../img/t0.png") -1px -3px no-repeat;
  background-size: 14px 14px;
  vertical-align: middle;
}
.end .end_list2 .end_list3 .end_list5 {
  margin-top: 3%;
}
.end .end_list2 .end_list3 .end_list5 p {
  color: #ccc;
  font-size: 1.2rem;
  text-align: center;
  line-height: 36px;
  margin-bottom: 5%;
}
.end .end_list2 .end_list3 .end_list6 {
  margin-top: 5%;
  margin-bottom: 5%;
}
.end .end_list2 .end_list3 .end_list6 a {
  background: url("../img/t9.png") 0px -5px no-repeat;
  background-size: 80px 42px;
  width: 80px;
  height: 30px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 120px;
}
.footer .footer1 {
  display: block;
  margin-bottom: 10px;
  margin-right: 3px;
  width: 50px;
  height: 50px;
  background: url("../img/t5.png") 0px 0px no-repeat;
  background-size: 50px 50px;
}
.footer .footer2 {
  display: block;
  margin-bottom: 10px;
  margin-right: 3px;
  width: 50px;
  height: 50px;
  background: #ccc;
  background: url("../img/t6.png") 0px 0px no-repeat;
  background-size: 50px 50px;
}
