#header {
	height: 28px;
	line-height: 28px;
	background-color: rgb(248, 248, 248);
	border-bottom: 1px solid #d9d9d9;
}
.index-link {
	float: left;
}
.index-link span {
	margin-left: 6px;
	position: relative;
	top:-2px;
}
.login-box {
	float: right;
}
.login-box a {
	color:#1a64a2;
}
#header a:hover {
	color:#ff6600;
	text-decoration: underline;
}

/*********** 主题内容 BEGIN ***********/
#mainContent {
	width: 975px;
	margin:0 auto;
}
#mainContent h1 {
	margin:10px 0 20px;
}
.link-tab {
	background-color: #E5ECF9;
	height: 26px;
	line-height: 26px;
	padding-left: 28px;
	border-bottom: 1px solid #333;
}
.link-tab li {
	float: left;
	margin:0 12px;
}
.link-tab li a {
	display: inline-block;
	padding: 0 8px;
	font-size: 14px;
	color:#075db3;
}
.link-tab .active a {
	background-color: #fff;
	border:1px solid #333;
	border-bottom: none;
	color:#787888;
	font-weight: bold;
}
.link-tab .active a:hover {
	color:#787888;
}
.link-tab li a:hover {
	color:#ff6600;
}
.tips {
	width:670px;
	margin-top: 20px;
	background: url(../img/topic_bg_2.gif) left center no-repeat;
	padding-left: 12px;
	padding-bottom: 2px;
	border-bottom: 2px solid rgb(189, 207, 220);
}
.form-box {
	
	position: relative;
}
.form-box form {
	width:670px;
}
.form-box .re-link {
	position: absolute;
	left:700px;
	top:-20px;
}
.form-box .re-link li {
	height: 36px;
	line-height: 36px;
}
.form-box .re-link li a{
	color:#075db3;
	text-decoration: underline;
}
.form-box .re-link li a:hover {
	color:#ff6600;
}
.re-link span {
	font-family: "\5b8b\4f53";
}
.form-box dl {
	margin-top: 24px;
}
.form-box dl label {
	display: inline-block;
	width:80px;
}
.form-box dl dt input {
	padding: 2px 4px;
	width:208px;
}
.form-box dl dd {
	margin:6px 0 6px 82px;
}
.form-box dl dt .status {
	/*display: none;*/
	padding-left: 20px;
	background-position: 0 -4px;
}
.status-error {
	background: url(../img/reg3.gif) no-repeat;
}
.status-succ {
	background: url(../img/reg4.gif) no-repeat;
}
.status-warm {
	background: url(../img/reg2.gif) no-repeat;
}
.form-box .password-bar {
	margin-top: 5px;
}
.submit-btn {
	font-weight: bold;
	border:1px solid #d9d9d9;
	display: inline-block;
	width:100px;
	padding: 4px 0;
	background-color: #f9f9f9;
	text-align: center;
}
.code-box {
	margin-left: 83px;
	margin-bottom: 10px;
}
/*********** 主题内容 END ***********/

/*********** 页脚 BEGIN ***********/
#footer {
	  border-top: 1px solid #e8e8e8;
	  margin-top: 20px;
}
#footer p{
	text-align: right;
	padding: 8px 10px 30px 0;
}
#footer a {
	color: #075db3;
	text-decoration: underline;
	margin:0 12px;
}
#footer a:hover {
	color:#ff6600;
}
/*********** 页脚 END ***********/
